* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

[data-theme='light'] {
  --bg-url: url('/images/bg-desktop-light.jpg');
  --bg-color: hsl(0, 0%, 98%);
  --todo-item-bg : white;
  --divider: hsl(236, 33%, 92%);
  --compelted-text: hsl(233, 11%, 84%);
  --text-secondary: hsl(236, 9%, 61%);
  --text-main: hsl(235, 19%, 35%);
}

[data-theme='dark'] {
  --bg-url: url('/images/bg-desktop-dark.jpg');
  --bg-color: hsl(235, 21%, 11%);
  --todo-item-bg : hsl(235, 24%, 19%);
  --text-main: hsl(234, 39%, 85%);
  --text-main-hover: hsl(236, 33%, 92%);
  --divider: hsl(237, 14%, 26%);
  --text-secondary: hsl(234, 11%, 52%);
  --compelted-text: hsl(233, 14%, 35%);
}

body, #root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  background: var( --bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding: 2vh;
}

.bg-main {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 35vh;
  width: 100%;
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-app {
  z-index: 1;
  align-self: center;
  justify-self: center;
  width: 34.375rem;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5vh;
}

.title {
  font-weight: 700;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.theme-selector:hover {
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3.75rem;
  height: fit-content;
  background-color: var(--todo-item-bg);
  border-radius: 0.313rem;
  margin-bottom: 3vh;

}

.circle {
  margin-inline: 1.25rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  border: 0.063rem solid var(--divider);
}



.input-form {
  flex: 1;
  display: flex;
}

.new-todo-input {
  flex: 1;
  height: 100%;
  border: none;
  font-size: 1.125rem;
  color: var(--text-main);
  background-color: var(--todo-item-bg);
}

.new-todo-input::placeholder {
  color: var(--text-secondary);
}

.new-todo-input:focus {
  outline: none;
}

.new-todo-submit {
  display: none;
}

.todo-list {
  position: relative;
  background-color: var( --todo-item-bg);
  border-radius: 0.313rem 0.313rem 0 0 ; 
}

.todo-item-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 3.75rem;
  height: fit-content;
  background-color: var( --todo-item-bg);
  border-bottom: 0.063rem solid var(--compelted-text);
  border-radius: 0.313rem; 
  padding-right: 1.25rem;
  padding-block: 1.25rem;
  border-radius: 0.313rem 0.313rem 0 0 ; 
  font-size: 1.125rem;
  color: var(--text-main);
}

.divider {
  width: 100%;
  height: 0.063rem;
  background-color: var(--compelted-text);
}

.divider.dragover {
  height: 1.25rem;
}

.todo-item-wrapper .circle:hover {
  border: 0.063rem solid hsl(192, 100%, 67%);
  cursor: pointer;
}

.todo-item-wrapper.completed .circle {
  background: url('/images/icon-check.svg '),  linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.todo-item-wrapper.completed .todo-item-text {
  text-decoration: line-through;
  font-weight: 400;
  color: var(--compelted-text)
}

.todo-item-text {
  flex: 1;
  padding-top: 0.313rem;
  margin-right: 1.25rem;
}

.todo-item-delete {
  padding-top: 0.313rem;
  margin-left: auto;
}

.todo-item-delete:hover {
  cursor: pointer;
}

.todo-controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.75rem;
  background-color: var( --todo-item-bg);
  color: var(--text-secondary);
  border-radius: 0 0 0.313rem 0.313rem;
  padding-inline: 1.25rem;
  box-shadow: 0 1.875rem 1.875rem 0 rgba(0, 0, 0, 0.1);
}
.todo-filter {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.filter-item {
  font-weight: 700;
}

.filter-item.active {
  color: hsl(220, 98%, 61%);
}

.filter-item:hover, .clear-completed:hover {
  cursor: pointer;
  color: var(--text-main);
}

.help {
  margin-bottom: 2vh;
  color: var(--text-secondary);
}

.attribution, .attribution a {
  margin-top: auto;
  color: var(--text-secondary);
  text-align: center;
}

@media screen and (max-width: 90rem) {
  .bg-main {
    background-size: contain;
  }
}

@media screen and (max-width: 40.625rem) {
  [data-theme='light'] {
    --bg-url: url('/images/bg-mobile-light.jpg');
  }
  [data-theme='dark'] {
    --bg-url: url('/images/bg-mobile-dark.jpg');
  }
  main {
    padding: 1.25rem;
  }
  .bg-main {
    background-size: cover;
  }
  .todo-app {
    width: 100%;
    margin-bottom: 15vh;
  }

  .todo-controls-wrapper {
    position: relative;
  }

  .todo-filter {
    position: absolute;
    bottom: -12vh;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: var(--todo-item-bg);
    width: 100%;
    height: 100%;
  }

  .attribution, .attribution a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 26.875rem) {
  .bg-main {
    background-size: cover;
  }
 }